.target {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.target div {
    width: 18%;
    background: silver;
    margin: 3px;

}


.simps_box div.img{
    width: 300px;

}
.product-card{
    background: beige;
}
.product-image img{
    width: 300px;

}